In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
#NASA Mars News
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

url = "https://mars.nasa.gov/news/"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

news_title = soup.find("div", class_="content_title").find("a").text
news_p = soup.find("div", class_="article_teaser_body").text
    
print(news_title)
print(news_p)

HiRISE Views NASA's InSight and Curiosity on Mars
New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.

In [3]:
#JPL Mars Space Images - Featured Image
mars_images = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
img_url = "https://www.jpl.nasa.gov"
browser.visit(mars_images)

html = browser.html

soup = BeautifulSoup(html, "html.parser")

In [4]:
featured_image = soup.find("img", class_="thumb")["src"]
print(featured_image)

/spaceimages/images/wallpaper/PIA23488-640x350.jpg

In [5]:
featured_image_url = img_url + featured_image

In [6]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23488-640x350.jpg

In [7]:
#Mars Weather
mw_twitter = "https://twitter.com/marswxreport?lang=en"
browser.visit(mw_twitter)

html = browser.html

soup = BeautifulSoup(html, "html.parser")

In [8]:
mars_weather = soup.find("div", class_="js-tweet-text-container").text.strip()
mars_weather

'InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)\npressure at 7.20 hPapic.twitter.com/VONawbIeG4'

In [9]:
#Mars Facts
mars_facts_url = "https://space-facts.com/mars/"
browser.visit(mars_facts_url)

html = browser.html

soup = BeautifulSoup(html, "html.parser")

In [10]:
table = pd.read_html(mars_facts_url)
table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
mars_facts = table[0]
mars_df = pd.DataFrame(mars_facts)
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [12]:
del mars_df["Earth"]
mars_df

  Mars - Earth Comparison             Mars
0               Diameter:         6,779 km
1                   Mass:  6.39 × 10^23 kg
2                  Moons:                2
3      Distance from Sun:   227,943,824 km
4         Length of Year:   687 Earth days
5            Temperature:    -153 to 20 °C

In [13]:
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
#Mars Hemisphere
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

html = browser.html

soup = BeautifulSoup(html, "html.parser")

In [15]:
hemispheres = []

results = soup.find_all("div", class_="item")

In [16]:
for result in results:
    title = result.find("h3").text
    link = result.find('a')
    href = link['href']
    hemispheres.append({"title": title, "img_url": "https://astrogeology.usgs.gov" + href})

In [17]:
hemispheres

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]